@using OceanicAirlines.Models
@{
    ViewBag.Title = "Search For Route";
}
@model OceanicAirlines.ViewModels.SearchRouteViewModel
@Styles.Render("~/Content/css/SearchRoute.css")

@Scripts.Render("~/bundles/SearchRoute")
<div class="col-lg-12">
    <div class="col-lg-2"></div>
    <div class="col-lg-6 search-box-form">
        @using (Html.BeginForm("SubmitData", "SearchRoute", new { originCity = @Model.OriginCity, destinationCity = Model.DestinationCity }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="col-lg-6">
                <label id="OriginCityLabel">From</label>
            </div>
            <div class="col-lg-6">
                <label id="DestinationCityLabel">To</label>
            </div>
            <br />

            <div class="col-lg-4" id="bloodhound">
                @Html.TextBoxFor(model => model.OriginCity, new { @class = "form-control", @id = "OriginCity", @name = "OriginCity", @placeholder = "Search..." })
            </div>
            <div class="col-lg-6" id="bloodhound2">
                @Html.TextBoxFor(model => model.DestinationCity, new { @class = "form-control", @id = "DestinationCity", @name = "DestinationCity", @placeholder = "Search..." })
            </div>
            <br />
            <br />
            <div class="col-lg-6">
                <label id="WeightLabel">Weight</label>
                <br />
                @Html.TextBoxFor(model => model.Weight, new { @class = "form-control", @id = "Weight", @placeholder = "" })
                <br />
                <label id="DiscountLabel">Discount</label>
                <br />
                @Html.TextBoxFor(model => model.Discount, new { @class = "form-control", @id = "Discount", @placeholder = "" })

                <br />
                <label id="ParcelTypeLabel">Parcel Type</label>
                <br />
                @Html.DropDownListFor(m => m.ParcelTypeEnumValue,
                     new SelectList(Enum.GetValues(typeof(ParcelType)), 1, "Value"), new { id = "ParcelTypeSelect" })

            </div>
            <div class="col-lg-6">
                <label id="XLabel">X [cm]</label>
                <br />
                @Html.TextBoxFor(model => model.X, new { @class = "form-control", @id = "XInput", @name = "XInput", @placeholder = "" })

                <br />
                <label id="YLabel">Y [cm]</label>
                <br />
                @Html.TextBoxFor(model => model.Y, new { @class = "form-control", @id = "YInput", @name = "YInput", @placeholder = "" })
                <br />
                <label id="ZLabel">Z [cm]</label>
                <br />
                @Html.TextBoxFor(model => model.Z, new { @class = "form-control", @id = "ZInput", @name = "ZInput", @placeholder = "" })

                <br />
            </div>
            <button type="submit" class="btn submit-button" onclick="location.href='@Url.Action("submitData", "SearchRouteController")'">SEARCH</button>
        }
        </div>
    <div class="col-lg-2"></div>
</div>
<h3>@ViewBag.Message</h3>
