@model IEnumerable<OceanicAirlines.Models.Route>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Origin.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Method)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Timespan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Available)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <th>
        @Html.DisplayNameFor(model => model.Origin)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Destination)
    </th>
    <td>
        @Html.DisplayFor(modelItem => item.Method)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Timespan)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Available)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.RouteID }) |
        @Html.ActionLink("Details", "Details", new { id = item.RouteID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.RouteID })
    </td>
</tr>
}

</table>
